.star-rating-container {
    display: flex;
    flex-direction: column;
}

.star-container i { 
    cursor: pointer;
    transition: color 0.1s;
}

.grey-star{
    color: #c9c9c9
}

.grey-star:hover{
    color:#fc5056;
}

.red-star {
    color: #fc5056;
}
