.add-review-container{
    width: 86%;
    height:475px;
    padding:7%;
    margin-top: 40px;
    background-color: #f7f8f9;
}

.add-review-container h5{
  margin-bottom: 3%;  
}

.review-rating-container{
    display: flex;
    justify-content: space-between;    
}

.adding-tour-review{
margin-top: 7%;
}

