.tour-card-container{
    width: 301px;
    text-align: left;
    padding-top: 40px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.tour-card-container:hover{
    transform: scale(1.03); 
}

.tour-image-container{
    margin: 0px;
    width:100%;
    height:245px;
    overflow: hidden;
    }

.tour-image-container img{
    width:100%;
    height:100%;
    object-fit: cover;
    }


.tour-card-container p{
    font-size: 14px;
    font-family:"Inter", sans-serif;
     color:rgba(5, 16, 54, 0.6);   
}

.tour-card-container h4{
font-size: 20px;
padding: 0.1% 0px;
margin:1.5rem 0;
margin-top: 5%;
}


.tour-card-container h4:hover{
    color: rgb(25, 25, 117);
}


.tour-info-container{
height: 201.5px;
object-fit: contain;
background: #f7f8f9;
margin:0px;
padding:16px 20px;
}

.tour-info-container p{
    margin:0px;
    color:#fc5056;
}

h6{
    font-size: 20px;
    font-weight: 700;
}

.tour-additional-info{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.rating-reviews{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.tour-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 9px 0px 0px;
    line-height: 130%;
    letter-spacing: -0.2px;

}

.rating-star-class{
    color:white;
    font-family: "Inter", sans-serif;
    background-color: #fc5056;
    font-size: 16px;
    padding: 4px;
    border-radius: 4px;
    line-height: 133.333%;
}

.tour-additional-info-text{
    color:rgba(5, 16, 54, 0.6);
}

.tour-price-text{
    font-family: "Kaushan Script", cursive;
    font-size: 20px;
    color:#051036
}


.favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .favorite-button:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  
  .heart-icon {
    color: #ccc;
    font-size: 16px;
  }
  
  .heart-icon.favorite {
    color: #fc5056;
  }
  
  /* Ensure the tour-image-container is positioned relatively for absolute positioning of the button */
  .tour-image-container {
    position: relative;
    margin: 0px;
    width: 100%;
    height: 245px;
    overflow: hidden;
  }