.tour-slider-container {
    overflow: hidden;
    width: 100%;
  }
  

  .tour-slider-content {
    display: flex;
    gap: 16px;
    transition: transform 0.4s ease;
    flex-wrap: nowrap;
  }
  
  