.tours-filter-and-display{
    margin-top: 11%;

    width:100%;
    padding: 8px;
    height:auto;
    display: flex;
    justify-content: center;
    gap:1%;

}

.tours-filter-container{
    width: 306px;
    height: auto;
}

.tours-display-container{
    width: 990px;
    height:auto;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    gap:2%;
    flex-wrap:wrap ;
}

.tour-filter-types{
    margin-top: 10%;
}