.tours-filter-and-display{
    margin-top: 11%;
    width:100%;
    padding: 8px;
    height:auto;
    display: flex;
    justify-content: center;
    gap:1%;

}

.tours-filter-container{
    width: 306px;
    height: auto;
}

.tours-display-container{
    width: 990px;
    height:auto;
    margin-bottom: 10%;
    display: flex;
    justify-content: left;
    gap:2%;
    flex-wrap:wrap ;
}

.tour-filter-types{
    margin-top: 10%;
}


.pages-navigation{
    padding-left: 50%;
    display: flex;
}

.page-number-container{
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 100% !important;
    text-align: center;
    margin: 0.8%;
    padding: 1.4% 2.3%;
    border: 1px  solid rgba(5, 16, 54, 0.1);
    color:  rgba(5, 16, 54, 0.6);
}

.colored-page-number{
    background-color: #ff5555;
    color:white;
}
