li{
 list-style-type:none;
}

.kaushan-text{
  font-family: "Kaushan Script", cursive;
  color: #fc5056;
}

.cursive-text{
  font-family: "Kaushan Script", cursive;
  color: #fc5056;

}

.project-theme-color{
  color: #fc5056;
}

p{
  display:block;
}

.link-class{
  text-decoration: none;
}

.project-heading-font{
  font-family: "Work Sans", sans-serif
}

.project-normal-font{
  font-family:"Inter", sans-serif ;
}

button{
  cursor: pointer;
}

.button-hovering-color:hover {
  background-color: #e04e4e;
}


.btn-as-container{
background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"] {
  -moz-appearance: textfield;
}

