.team-member-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0% 0% 4% 0%;
}

.team-member-wrapper h2{
  margin: 0% 0% 3% 0%;
font-size: 38px;
}

.team-member-wrapper h4{
font-size: 26px;
margin: 0% 0% 1% 0%;
}

.team-member-container {
  width: 75%;
  display: flex;
  justify-content: center;
  gap: 3%;
  align-items: center;
}

.about-feature-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f8f9;
  margin: 5% 0% 5% 0%;
  padding: 5% 0% 5% 0%;
}

.about-feature-wrapper h4{
  font-size: 26px;
margin: 0% 0% 1% 0%;
}

.about-feature-wrapper h2{
  margin: 0% 0% 3% 0%;
  font-size: 38px;
  
}

.about-feature-container {
  display: flex;
  justify-content: center;
  gap: 2%;
  width: 80%;
  margin: 5% 0% 5% 0%;
}

.about-feature-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
